<div class="block_title">
  <div class="block_title-breadcrumbs">
    <nav role="navigation">
          <a href="/" class="bs__it">Главная</a>
          <span>/</span>
          <a href="#" class="bs__it">{{ title }}</a>
    </nav>
    <h1 class="title">{{ title }}</h1>
  </div>
</div>