<div class="left-menu">
  <ul class="left-menu__list">
    <li class="left-menu__item active">
      <a href="" class="left-menu__link">Форсунки</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Насосы</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Распылители</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Клапана</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Плунжера</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Дозировочные блоки</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Топливные рампы</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Штуцера форсунок</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Стартеры</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Генераторы</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Комплектующие</a>
    </li>
    <li class="left-menu__item">
      <a href="" class="left-menu__link">Аксессуары</a>
    </li>
  </ul>
</div>