<div class="footer-menu container">
  <div class="footer-menu__item">
    <div class="footer-menu__title">Каталог</div>
    <ul class="footer-menu__list">
      <li>
        <a href="#">Форсунки</a>
      </li>
      <li>
        <a href="#">Насосы</a>
      </li>
      <li>
        <a href="#">Распылители</a>
      </li>
      <li>
        <a href="#">Клапана</a>
      </li>
      <li>
        <a href="#">Плунжера</a>
      </li>
      <li>
        <a href="#">Дозировочные блоки</a>
      </li>
      <li>
        <a href="#">Топливные рампы</a>
      </li>
      <li>
        <a href="#">Фильтры</a>
      </li>
      <li>
        <a href="#">Штуцера форсунок</a>
      </li>
      <li>
        <a href="#">Стартеры</a>
      </li>
      <li>
        <a href="#">Генераторы</a>
      </li>
      <li>
        <a href="#">Комплектующие</a>
      </li>
      <li>
        <a href="#">Аксессуары</a>
      </li>
    </ul>
  </div>
  <div class="footer-menu__item">
    <div class="footer-menu__title">Доставка и оплата</div>
    <ul class="footer-menu__list">
      <li>
        <a href="#">Самовывоз</a>
      </li>
      <li>
        <a href="#">Доставка по г. Москва и МО</a>
      </li>
      <li>
        <a href="#">Доставка в другие регионы</a>
      </li>
      <li>
        <a href="#">Безналичная оплата</a>
      </li>
      <li>
        <a href="#">Оплата наличными</a>
      </li>
    </ul>
  </div>
  <div class="footer-menu__item">
    <div class="footer-menu__title">Помощь</div>
    <ul class="footer-menu__list">
      <li>
        <a href="#">Как сделать заказ на сайте</a>
      </li>
      <li>
        <a href="#">Правила работы</a>
      </li>
      <li>
        <a href="#">Возврат и обмен</a>
      </li>
      <li>
        <a href="#">Оптовым клиентам</a>
      </li>
      <li>
        <a href="#">Франшиза КТС–Дизель</a>
      </li>
      <li>
        <a href="#">Юридическая информация</a>
      </li>
      <li>
        <a href="#">Информация о безопасности</a>
      </li>
      <li>
        <a href="#">Вход  /  Регистрация</a>
      </li>
    </ul>
  </div>
  <div class="footer-menu__item">
    <div class="footer-menu__title">О компании</div>
    <ul class="footer-menu__list">
      <li>
        <a href="#">О компании</a>
      </li>
      <li>
        <a href="#">Отзывы</a>
      </li>
      <li>
        <a href="#">Реквизиты</a>
      </li>
      <li>
        <a href="#">Контакты</a>
      </li>
    </ul>
  </div>
</div>