<div class="lead">
  <div class="lead__breadcrumbs">
    <nav role="navigation" class="breadcrumbs">
      <a href="index.html" class="breadcrumbs__item">Главная</a>
      <a href="" class="breadcrumbs__item">{{ title }}</a>
    </nav>
  </div>
  <h1 class="lead__title">{{ title }}</h1>
</div>