<div class="menu_left menu_left--lk">
  <ul>
    <li>
      <a href="#">Профиль</a>
    </li>
    <li>
      <a href="#" class="active">О компании</a>
    </li>
    <li>
      <a href="#">Реквизиты</a>
    </li>
    <li>
      <a href="#">Настройки</a>
    </li>
  </ul>
  <div class="moderation_button">
      Отправить<br />на модерацию
  </div>
  <div class="warning">Антон, у вас имеются незаполненные поля. Цена категории «Опт» будет доступна после заполнения полей и подтверждения ваших
  данных.</div>
</div>