<div class="menu_left menu_left--lk">
  <ul>
    <li>
      <a href="#">Профиль</a>
    </li>
    <li>
      <a href="#">О компании</a>
    </li>
    <li>
      <a href="#">Реквизиты</a>
    </li>
    <li>
      <a href="#" class="active">Настройки</a>
    </li>
  </ul>
</div>