<ul class="main-menu">
  <li class="main-menu__item">
    <a href="#" class="main-menu__title">Каталог</a>
    <ul class="main-menu__sub">
      <li><a href="#">Пункт меню 1</a></li>
      <li><a href="#">Пункт меню 2</a></li>
      <li><a href="#">Пункт меню 3</a></li>
      <li><a href="#">Пункт меню 4</a></li>
      <li><a href="#">Пункт меню 5</a></li>
      <li><a href="#">Пункт меню 6</a></li>
      <li><a href="#">Пункт меню 7</a></li>
      <li><a href="#">Пункт меню 8</a></li>
      <li><a href="#">Пункт меню 9</a></li>
      <li><a href="#">Пункт меню 10</a></li>
      <li><a href="#">Пункт меню 11</a></li>
      <li><a href="#">Пункт меню 12</a></li>
      <li><a href="#">Пункт меню 13</a></li>
    </ul>
  </li>
</ul>