<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="global">
    <div class="global__header"></div>
    <div class="global__content">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="global__footer"></div>
  </div>
  <script src="script.js"></script>
</body>
</html>