<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="global">
    <div class="global__header  header">
      <div class="header__row header__row--top">
        <div class="container  header__items">
          <div class="header__item">
            <div class="city-info">
              <a href="#" class="city-info__picker">
                <span>Москва</span>
              </a>
              <span class="city-info__content">
                <span class="city-info__text">МКАД 32 км. Внешняя сторона ТК ТРАКТ пав. 2-43Б</span>
                <span class="city-info__divider">|</span>
                <a href="#" class="city-info__link">Как проехать?</a>
              </span>
            </div>
          </div>
          <div class="header__item header__item--to-right header__item--offset">
            <button class="button button--dark button--email">sale@forsunki-rf.ru</button>
          </div>
          <div class="header__item">
            <a href="#" class="button button--dark">Доставка и оплата</a>
          </div>
          <div class="header__item">
            <a href="#" class="button button--dark">Помощь</a>
          </div>
        </div>
      </div>
      <div class="header__row header__row--logo">
        <div class="container  header__items"></div>
      </div>
      <div class="header__row header__row--plain">
        <div class="container  header__items"></div>
      </div>
      <div class="header__row header__row--plain">
        <div class="container  header__items"></div>
      </div>
    </div>
    <div class="global__content">
      {# {% block content %}{% endblock %} #}
    </div>
    <div class="global__footer"></div>
  </div>
  <script src="script.js"></script>
</body>
</html>