<div class="products-list">
  <form class="products-list__header">
    <div class="products-list__param">
      <span>Сортировать по цене</span>
      <span class="sort">
        <input type="radio" name="sort" class="sort__order sort__order--desc" id="rdo_sort_desc" value="desc">
        <input type="radio" name="sort" class="sort__order sort__order--asc" id="rdo_sort_asc" value="asc">
        <span class="sort__icon"></span>
      </span>
    </div>
    <div class="products-list__param">
      <span>Показывать по</span>
      <span class="select select--number">
        <input type="hidden" class="select__input" name="count">
        <span class="select__text">20</span>
        <ul class="select__options">
          <li data-value="20">20</li>
          <li data-value="50">50</li>
          <li data-value="100">100</li>
        </ul>
      </span>
    </div>
  </form>
  <div class="products-list__content">
    {% for number in 1..10 %}
      <div class="products-list__item">
        <form action="#" class="product-item  {% if number % 3 == 0 %}active{% endif %}">
          <input type="hidden" name="id" value="{{ number }}">
          {% if number % 3 == 0 %}
            <a href="#" class="product-item__image product-item__image--empty"></a>
          {% else %}
            <a href="#" class="product-item__image" style="background-image: url('res/product_item.png')"></a>
          {% endif %}
          <div class="product-item__text">
            <div class="product-item-text">
              <div class="product-item-text__aside">
                Артикул: 0445110646
                &nbsp;|&nbsp;
                Bosch
              </div>
              <h2 class="product-item-text__main">
                <a href="#">Форсунка №{{ number }}</a>  
              </h2>
            </div>
          </div>
          <div class="product-item__price">
            <div class="product-item-text">
              {% if number % 3 == 0 %}
                <div class="product-item-text__aside">
                  Наличие и цену<br>уточняйте у менеджера
                </div>
              {% else %}
                <div class="product-item-text__aside">
                  Розничная цена:
                </div>
                <div class="product-item-text__main">
                  <span class="price">10 122</span>
                </div>
              {% endif %}
            </div>
          </div>
          <button type="submit" class="product-item__button"></button>
        </form>
      </div>
    {% endfor %}
  </div>
  <div class="products-list__bottom"></div>
</div>