<div class="promo">
  <div class="promo__main">
    <div class="heading">
      Предлагаем вам аналоги клапанов BOSCH и DELPHI
      <br>собственного производства, бренда КТС-Дизель
    </div>
    <ul>
      <li>Клапаны производятся на высокоточном японском оборудовании</li>
      <li>Для идентификации на каждый клапан нанесен номер партии</li>
      <li>При продаже мы предоставляем гарантию</li>
      <li>Клапан упакован по аналогу оригинала</li>
    </ul>
    <p>
      <small>Модельный ряд продукции будет расширяться!</small>
    </p>
  </div>
  <div class="promo__aside">
    <div class="product-promo">
      <div class="product-promo__text  product-item-text">
        <div class="product-item-text__aside">Артикул: 0445110646</div>
        <div class="product-item-text__main">Клапан | КТС-Дизель</div>
      </div>
      <div class="product-promo__text  product-item-text">
        <div class="product-item-text__aside">Специальная цена:</div>
        <div class="product-item-text__main">
          <span class="price">19 990</span>
        </div>
      </div>
      <div class="product-promo__button">
        <a href="#" class="button button--primary button--wide button--grad">Подробнее</a>
      </div>
      <div class="product-promo__image" style="background-image: url('res/promo.png')"></div>
    </div>
  </div>
</div>