<div class="select">
  <div class="select__title">{{ title_filter }}</div>
  <div class="select__slide">
    <span class="select__name">Не выбрано</span>
    <div class="select__option">
      <label class="select__option-item">
        <input type="text" name="">
        <span class="select__input-text">c-1</span>
      </label>
      <label class="select__option-item">
        <input type="text" name="">
        <span class="select__input-text">c-2</span>
      </label>
      <label class="select__option-item">
        <input type="text" name="">
        <span class="select__input-text">c-3</span>
      </label>
    </div>
  </div>
</div>