<div class="page__aside">
  <div class="menu_left">
    <ul>
      <li>
        <a href="#">
          Помощь
          <ul>
            <li>
              <a href="#">Правила работы</a>
            </li>
            <li>
              <a href="#">Как сделать заказ на сайте</a>
            </li>
            <li>
              <a href="#">Возврат и обмен</a>
            </li>
            <li>
              <a href="#">Оптовым клиентам</a>
            </li>
            <li>
              <a href="#">Франшиза КТС-Дизель</a>
            </li>
            <li>
              <a href="#">Юридическая информация</a>
            </li>
            <li>
              <a href="#">Информация о безопасности</a>
            </li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">Доставка и оплата</a>
      </li>
      <li>
        <a href="#">О компании</a>
      </li>
    </ul>
  </div>
</div>