<div class="page__aside">
  <div class="menu_left">
    <ul>
      <li class="dropdown">
        <a href="#">Помощь</a>
          <ul>
            <li>
              <a href="#"><span></span>Правила работы</a>
            </li>
            <li>
              <a href="#"><span></span>Как сделать заказ на сайте</a>
            </li>
            <li>
              <a href="#"><span></span>Возврат и обмен</a>
            </li>
            <li>
              <a href="#"><span></span>Оптовым клиентам</a>
            </li>
            <li>
              <a href="#"><span></span>Франшиза КТС-Дизель</a>
            </li>
            <li>
              <a href="#"><span></span>Юридическая информация</a>
            </li>
            <li>
              <a href="#"><span></span>Информация о безопасности</a>
            </li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#">Доставка и оплата</a>
      </li>
      <li class="dropdown">
        <a href="#">О компании</a>
      </li>
    </ul>
  </div>
</div>