# Каталоги NodeJS и Bower.
/bower_components/
/node_modules/

# Каталог с результатом сборки.
/dist/

# Дополнительные файлы со скриптами.
/*.sh
/*.bat

# Временные архивы и прочая лабуда,
# попавшая в папку случайно.
/*.zip