/// ---------------------------------
/// Полоса с отступами на весь экран.
/// ---------------------------------

.bar
  border-bottom 1px solid darkwhite
  border-top 1px solid darkwhite
  padding 80px 0
  
  & + &
    border-top none
  
  &--color
    background-color dimwhite

