/// ---------------------------------
/// Блок заголовка и цепочки навигации.
/// ---------------------------------
.block_title
  padding 30px 31px 26px 31px
  border-bottom 1px solid #f2f2f2

.block_title__breadcrumbs a, .block_title__breadcrumbs span
  color dimgray
  font-size 12px
  font-weight 400
  transition trs_normal

.block_title__breadcrumbs a:hover
  color red
  transition trs_normal

h1.title
  color black
  font-size 24px
  font-weight 700