/// -------------------------
/// Блок с иконками гдлавной.
/// -------------------------
.block-icon > *
  display inline-block
  vertical-align middle
  font-size 0
.block-icon__icon
  margin 0 20px 0 0
.block-icon__text
  color #3f4c5c
  font-size 16px
  font-weight 400
  line-height 22px