/// -------------------------
/// Фильтр каталога.
/// -------------------------
.catalog-filter
  &__title
    color black
    font-size 16px
    font-weight 400
    margin 0 0 19px 0
  &__group
    display flex
    justify-content space-between
    align-items top
    min-height 100%
    margin 0 0 39px 0
  &__item
    display block
    flex-shrink 0
    min-width 235px
