/// ----------------------------------------
/// Стили браузерных элементов по-умолчанию.
/// ----------------------------------------

html
  font-family 'Ubuntu', 'sans'
  font-size 16px
  color black

a
  text-decoration none