/// ---------------
/// Блок контактов.
/// ---------------

.contacts
  display inline-block

  &__item
    link gray red
    display block
    font-weight bold
    font-size 16px
    line-height 22px