/// ---------------
/// Блок контактов.
/// ---------------

.contacts
  display inline-block
  
  &__item
    transition trs_normal
    display block
    color #3f4c5c
    font-weight bold
    font-size 16px
    line-height 22px
    
    &:hover
      color #d31020