/// -------------------------
/// Отцентрованный контейнер.
/// -------------------------

.container
  display block
  max-width 1000px
  width 100%
  margin-right auto
  margin-left auto
  margin-bottom 40px

.global__content
  width 1063px
  margin 0 auto 40px
  border: 1px solid #f2f2f2;
  position relative
  left 31.5px