/// --------------------------
/// Абстрактный элемент ввода.
/// --------------------------

element(height = 51px)
  offset = (height - 20px) / 2
  border-radius 4px
  display inline-block
  padding offset 20px
  font-size 16px
  line-height 20px