/// ----------------------
/// Encrypt.
/// ----------------------
.encrypt
  width 39px
  height 31px
  display inline-block
  background img('encrypt.png') no-repeat center center
  transition trs_normal
  cursor pointer

  &:hover
    transition trs_normal
    background img('encrypt_hov.png') no-repeat center center