/// ----------------------
/// Подвал сайта.
/// ----------------------
.footer__top
  background-color #fafafa
  border-top 1px solid #f2f2f2
  padding 36px 0

.footer__main
  background-color gray
  padding 36px 0 0 0

.footer__bottom
  padding 37px 0
  background-color gray