/// ----------------------
/// Группа элементов в подвале.
/// ----------------------
.footer-group
  display flex
  justify-content flex-start
  align-items center
  min-height 100%

  &__item
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    &--offset
      margin 0 177px 0 119px

    &--right
      float right