/// ----------------------
/// Меню футера.
/// ----------------------
.footer-menu
	display flex
	align-items flex-start
	justify-content space-between
	min-height 100%
	border-bottom 1px solid #54606e
	padding 0 57px 37px 0

	&__item
		flex 0 1 auto
		align-self auto

	&__title
		color white
		font-size 14px
		font-weight 700

	&__list
		margin 19px 0 0 0
		padding 0
		list-style-type none

.footer-menu__list a
	color #bdc2c7
	font-size 14px
	font-weight 400
	line-height 24px
	transition trs_normal

	&:hover
		color white
		transition trs_normal