/// ----------------------
/// Футер низ.
/// ----------------------
.footer-group
  display flex
  justify-content flex-start
  align-items center
  min-height 100%

  &__item
    display block
    flex-shrink 0

.copyright
  color #697380
  font-size 14px
  font-weight 400
  line-height 17px