/// ----------------------
/// Подвал сайта.
/// ----------------------
.footer__top
  background-color #fafafa
  border-top 1px solid #f2f2f2
  padding 36px 0

.footer__main
  background-color gray
  padding 36px 0 37px 0
  border-bottom 1px solid #54606e
