/// ----------------------
/// Шапка сайта.
/// ----------------------

.header
  
  &__top
    background-color #3f4c5c
    height 46px
    
  &__main
    border-bottom 1px solid #f2f2f2
    background-color #fafafa
    padding-bottom 25px
    padding-top 26px
    
  &__aside
    background-color #fff
    padding-top 30px
    
    &:last-child
      padding-bottom 30px