/// -------------------------
/// Группа элементов в шапке.
/// -------------------------

.header-group
  display flex
  justify-content flex-start
  align-items center
  min-height 100%

  &__item
    display block
    flex-shrink 0

    &--to-right
      margin-left auto !important

    &--offset-10
      margin-right 10px
      margin-left 10px

    &--offset-15
      margin-right 15px
      margin-left 15px

    &--offset-20
      margin-right 20px
      margin-left 20px

    &--offset-34
      margin-right 34px
      margin-left 34px

    &--offset-50
      margin-right 50px
      margin-left 50px

    &--stretch
      flex 1 1 auto

    &:first-child
      margin-left 0 !important

    &:last-child
      margin-right 0 !important
.header-group--between
  justify-content space-between