/// -----------------------
/// Группа элементов ввода.
/// -----------------------

.input-group
  display flex
  flex-direction row
  
  &__item
    margin-left 20px
    
    &:first-child
      margin-left 0
    
    &--stretch
      flex 1 1 auto
