/// ----------------------
/// Заголовок поля ввода.
/// ----------------------

.label
  
  &--wide
    display block
    width 100%
    
  &--offset-large
    margin 15px 0
    
  &--offset
    margin 7px 0
    
  &--small
    font-size 14px
