/// -------------------------
/// Левое меню.
/// -------------------------
.left-menu
  background-color #fafafa
  width 254px
  padding 17px 10px 17px 31px
  &__item.active
    text-transform uppercase
    & a
      color red
  &__link
    font-size 16px
    font-weight 700
    line-height 40px
    color #1b2026
    transition trs_normal
    &:hover
      color red
      transition trs_normal