/// ----------------------
/// Главное меню сайта.
/// ----------------------

.main-menu
  position relative
  
  &, ul
    display block
    list-style none
    margin 0
    padding 0
  
  &__title
    background red img('icon_menu_white.png') no-repeat 20px center
    display block
    padding-left 44px
  
  &__sub
    position absolute
    z-index 500
    top 51px
    left 0
    visibility hidden
    opacity 0
