/// ------------------
/// Яндекс карта.
/// ------------------
.contact-block__map
  float left
  width 690px
  height 572px
  border-left 1px solid #f2f2f2
  
.map
  display block
  width 100%
  height 100%