.lk_active
  padding 30px 0 72px 0
  & h1
    margin 12px 0 42px 0
  & p
    line-height 36px
  & button
    margin 19px 0 0px 0
    

form.rec_pass
  margin 26px 0 0 0
  & span
    font-size 16px
    font-weight 400
    color #1b2026
    margin 0 27px 0 0
  & a
    margin 20px 0 0 213px
    padding 15.5px 19px
  & input
    width 243px
  & .success
    display inline-block
    color #48bf30
    font-size 14px
    font-weight 400
    opacity 0
    transition trs_normal
    &.active
      opacity 1
      transition trs_normal
    &:before
      content ''
      background url('../img/lk_act.png') no-repeat center center
      width 18px
      height 14px
      display inline-block
      margin 0 10px 0 18px
form.lk
  width 490px
  float left
  font-size 0
  height 396px
  border-right 1px solid #f2f2f2
  margin 0 10px 0 0
  padding 30px
  & label
    width 100%
    display block
    margin 0 0 30px 0
  & label span
    margin 0 71px 0 0
    display inline-block
    min-width 122px
    font-size 16px
    font-weight 400
.rec_pass 
  font-size 16px
  font-weight 400
  width 123px
  color #7e8792
  transition trs_normal
  margin 0 71px 0 0
  &:hover 
    color #d31020
    transition trs_normal
.lk_social
  float left
  text-align center
  width 500px
  border-left 1px solid #f2f2f2
  height 396px
  padding 49px 0 0 0
  & p
    font-size 16px
    font-weight 400
    line-height 22px
    color #1b2026
    margin 0 0 59px 0
.lk_social__item
  margin 0 0 20px 0
.lk_social__item  a
  text-align left
  font-size 0
.lk_social__item  a > *
  display inline-block
  vertical-align middle
.lk_social__item a span 
  min-width 119px
  font-size 16px
  font-weight 400
  color #bdc2c7
.lk_social__item a img 
  margin 0 20px 0 0
.menu_left--lk
  background #fafafa
  padding 18px 0 30px 0
  width 256px
.page .menu_left--lk a
  padding 0 0 0 31px
  font-weight 700 !important
  line-height 40px !important
  border none !important
  height auto !important
.page .menu_left--lk a.active
  text-decoration uppercase
.lk_title
  font-size 16px
  font-weight 700
.change_pass label, .new_pass label
  display inline-block
  width 100%
  margin 0 0 10px 0
  & span
    min-width 174px
    display inline-block
    margin 0 60px 0 0
.new_pass label span
  margin 0 8px 0 0
.change_pass label .subs, .new_pass .subs
  font-size 12px
  font-weight 400
  line-height 16px
  color #7e8792
  padding 5px 0 7px 234px
.new_pass .subs
  padding 5px 0 27px 0
.new_pass a
  margin 21px 0 0 182px
.new_pass input
  width 268px
.change_pass a
  margin 20px 0 0 234px
.moderation_button
  color #bdc2c7
  margin 60px auto 10px
  padding 9px 0
  display block
  width 194px
  height 51px
  font-size 16px
  font-weight 400
  line-height 16px
  text-align center
  border 1px solid rgba(189, 194, 199, 0.5)
  border-radius 4px
.warning
  width 194px
  border 1px solid rgba(211, 16, 32, 0.5)
  border-radius 4px
  text-align center
  padding 16px 21px 14px 22px
  font-size 14px
  font-weight 400
  line-height 22px
  color #1b2026
  margin 0 auto
.company_info label
  display inline-block
  width 100%
  margin 0 0 10px 0
.company_info label span
  min-width 184px
  display inline-block
  margin 0 59px 0 0
.company_info__group
  border-bottom 1px solid #f3f3f3
.company_info
  width 100%
  &__title strong
    font-size 16px
    margin 0 30px 0 0