/// -------------------------
/// Стили статической страницы и меню.
/// -------------------------
.page
  display flex
  justify-content flex-start
  align-items start
  min-height 100%

  &__aside
    border-right 1px solid #f2f2f2

  &__main
    flex 1 1 auto
    padding 29px 35px 58px 29px