/// -------------------------
/// Стили статической страницы и меню.
/// -------------------------
.page
  display flex
  justify-content flex-start
  align-items center
  min-height 100%

  &__aside
    flex 1 1 auto
    max-width 286px
    border 1px solid #f2f2f2

