/// ---------------------------------
/// Текст на элементе списка товаров.
/// ---------------------------------

.product-item-text
  
  &__aside
  &__main
    display block
    margin 0
    line-height 26px
  
  &__aside
    font-size 14px
    color dimgray
    
  &__main
    font-weight normal
    font-size 18px
    color black
      
    .price
      font-weight bold
    
    a
      link black red
