/// ----------------------
/// Промо товара.
/// ----------------------

.product-promo
  border 1px solid fadegray
  border-radius 4px
  background-color white
  position relative
  padding 42px 20px 0
  
  &__image
    background no-repeat center center
    position absolute
    z-index 1
    bottom -33px
    right -123px
    display block
    width 768px
    height 209px
    
  &__button
  &__text
    position relative
    z-index 10
    
  &__text
    margin 30px 0
    
    .price
      font-size 24px
  
  &__button
    margin-top 90px
    margin-right -20px
    margin-left -20px
    
    .button
      border-top-right-radius 0
      border-top-left-radius 0