/// ----------------------
/// Логотип агенства.
/// ----------------------
.studio
  color #697380
  font-size 14px
  font-weight 400
  line-height 18px
  background img('studio.png') no-repeat left center
  padding 0 0 0 39px
  display inline-block
  cursor pointer
  transition trs_normal

  &--offset
    margin 0 170px 0 182px

  &:hover
    color white
    transition trs_normal
