/// ------------------
/// Переменные стилей.
/// ------------------

trs_normal = all 250ms ease-in-out

white = #fff
fadered = rgba(211, 16, 32, 0.5)
red = #d31020
fadegray = rgba(189, 194, 199, 0.5)
lightgray = #bdc2c7
dimgray = #7e8792
gray = #3f4c5c
black = #1b2026

button_height = 51px
shadow = 0 0 30px rgba(0, 0, 0, 0.15)
border_lightgray = 1px solid #f2f2f2
border_gray = 1px solid #bdc2c7