/// ------------------
/// Переменные стилей.
/// ------------------

trs_normal = all 250ms ease-in-out

white = #fff
red = #d31020
lightgray = #bdc2c7
dimgray = #7e8792
gray = #3f4c5c
black = #1b2026