{% extends 'html/master.twig' %}
{% set title = 'О компании' %}
{% set is_main = true %}

{% block content %}
  <div class="container container--large">
    <div class="page">
      <div class="page__header">
        {% include 'html/lead.twig' %}
      </div>
      <div class="page__aside">
        {% include 'html/static_page_menu.twig' %}
      </div>
      <div class="page__main">
        <div class="text-block">
          <p>Компания «КТС–Дизель» занимается реализацией оптом и в розницу форсунок, ТНВД, плунжеров, распылителей, клапанов и других комплектующих к топливным дизельным системам Bosch, Denso, Delphi, Siemens. В ассортименте более 9 тысяч наименований для грузовой, легковой, автобусов, строительной, сельхоз, складской и специальной техники из России, Европы, Японии, Китая, США и других стран.</p>
          <p>Наши клиенты это торгующие организации, автосервисы, центры по ремонту топливных дизельных систем, автопарки и розничные покупатели. Основная часть товара ­ это компоненты, поставляемые в Россию компаниями Bosch, Denso, Delphi, Siemens и других известных производителей. Прямые договора и долгосрочное сотрудничество с официальными представителями этих производителей позволяют закупать оригинальную продукцию по максимально выгодным ценам.</p>
          <p>С 2015 года «КТС–Дизель» поставляет в Россию продукцию под собственным брендом — комплектующие к форсункам Bosch, Denso, Delphi системы Comon Rail. Это продукт достойного качества, изготовленный на высокоточном японском оборудовании, но гораздо дешевле оригинала.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}