{% extends 'html/master.twig' %}
{% set title = 'Контакты' %}
{% set is_main = true %}

{% block content %}
  <div class="container container--large">
    <div class="page">
    <div class="page__header">
      {% include 'html/lead.twig' %}
    </div>
    <div class="page__main page__main--contact">
    <div class="contact-block">
      <div class="contact-block__list contact-block__list--left ">
        <div class="contact-block__list-item">
          <div class="contact-block__title"><strong>Адрес:</strong></div>
          <div class="contact-block__text">
            г. Москва, МКАД 32 км.<br />
            Внешняя сторона ТК ТРАКТ пав. 2-43Б
          </div>
        </div>
        <div class="contact-block__list-item">
          <div class="contact-block__title"><strong>Телефоны:</strong></div>
          <div class="contact-block__text">
            +7 (495) 204-27-05<br />
            +7 (916) 104-40-10  —  <span class="contact-block__text--grey">МТС</span><br />
            +7 (901) 793-26-43  —  <span class="contact-block__text--grey">Tele 2</span><br />
            +7 (977) 570-73-59  —  <span class="contact-block__text--grey">Tele 2</span>
          </div>
        </div>
        <div class="contact-block__list-item">
          <div class="contact-block__title"><strong>График работы:</strong></div>
          <div class="contact-block__text">
            Пн – Пт  <span class="contact-block__text--grey">|</span>  10:00 – 18:00<br />
            Выходной  —  суббота, воскресенье
          </div>
          <div class="contact-block__small">
            Возможна реализация товара<br />
            по предварительной договоренности
          </div>
        </div>
        <div class="contact-block__list-item">
          <div class="contact-block__title"><strong>Электронная почта:</strong></div>
          <div class="contact-block__text">
            <a href="mailto:sale@forsunki­rf.ru">sale@forsunki­rf.ru</a>
          </div>
        </div>
        <div class="contact-block__list-item">
          <div class="contact-block__title"><strong>Skype:</strong></div>
          <div class="contact-block__text">
            <a href="skype:kts­disel?chat">kts­disel</a>,
            <a href="skype:kts­disel2?chat">kts­disel2</a>,
            <a href="skype:kts­disel3?chat">kts­disel3</a>
          </div>
        </div>
        <div class="contact-block__list-item">
          <div class="contact-block__title"><strong>ICQ:</strong></div>
          <div class="contact-block__text">
            <a href="http://www.icq.com/whitepages/cmd.php?uin=660711632&action=message" target="_blank">660711632</a>,
            <a href="http://www.icq.com/whitepages/cmd.php?uin=664070233&action=message" target="_blank">664070233</a>,
            <a href="http://www.icq.com/whitepages/cmd.php?uin=707308640&action=message" target="_blank">707308640</a>
          </div>
        </div>
      </div>
      <div class="map" data-icon="res/marker.png" data-icon-size="[40, 50]" data-coords="[55.57336445064266,37.617653903427126]" data-zoom="16" ></div>
    </div>
    <div class="contact-slider js-slider">

    </div>
  </div>
  </div>
  </div>
{% endblock %}

<script type="text/javascript">
  $(document).on('click', 'a', function(){
    return false;
  })
</script>