{% extends 'html/master.twig' %}
{% set title = 'Ремонтный комплект форсунки 28229873' %}
{% set is_main = true %}

{% block content %}
  <div class="container container--large">
    <div class="page">
      <div class="page__header">
        {% include 'html/lead.twig' %}
      </div>
      <div class="page__main page__main--plain">
        <div class="catalog-detail">
          <div class="catalog-detail__block clear">
          <div class="catalog-slider js-slider js-slider--left">
            <div class="js-slider__item">
              <div class="catalog-slider__title">Артикул: 28229873</div>
              <div class="catalog-slider__img" style="background: url('img/detail.jpg')"></div>
              <div class="catalog-slider__pagination">
                <div class="js-slider-pagination">
                  <span class="js-slider-pagination__item left">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="10px" height="6px" viewBox="0 0 10 6" enable-background="new 0 0 10 6" xml:space="preserve">
                    <path d="M8.419,0.601c0.27-0.268,0.708-0.268,0.979,0c0.27,0.267,0.27,0.701,0,0.969L5.49,5.399
                    c-0.27,0.268-0.709,0.268-0.979,0L0.603,1.57c-0.27-0.268-0.27-0.701,0-0.969s0.708-0.268,0.979,0L5,3.741L8.419,0.601z"/>
                    </svg>
                  </span>
                  <span class="js-slider-pagination__count">1  /  8</span>
                  <span class="js-slider-pagination__item right">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="10px" height="6px" viewBox="0 0 10 6" enable-background="new 0 0 10 6" xml:space="preserve">
                    <path d="M8.419,0.601c0.27-0.268,0.708-0.268,0.979,0c0.27,0.267,0.27,0.701,0,0.969L5.49,5.399
                    c-0.27,0.268-0.709,0.268-0.979,0L0.603,1.57c-0.27-0.268-0.27-0.701,0-0.969s0.708-0.268,0.979,0L5,3.741L8.419,0.601z"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog-detail__info">
            <div class="catalog-detail__info-top">
              <div class="catalog-detail__info-title">Розничная цена:</div>
              <div class="catalog-detail__info-price">13 630 <span class="rubl">&#8381</span></div>
              <div class="catalog-detail__info-count"></div>
              <div class="catalog-detail__info__presence">В наличии:<br /><span>100</span> шт.</div>
            </div>
          </div>
          </div>
          <div class="catalog-detail__tabs tabs">
            <div class="tabs_nav">
              <div class="tabs_nav__item">Характеристики</div>
              <div class="tabs_nav__item">Аналоги</div>
              <div class="tabs_nav__item">Доставка</div>
              <div class="tabs_nav__item">Оплата</div>
            </div>
            <div class="tabs_content">
              <div class="tabs_content__item">1</div>
              <div class="tabs_content__item">Текст аналогов</div>
              <div class="tabs_content__item">Текст доставки</div>
              <div class="tabs_content__item">Текст оплаты</div>
            </div>
          </div>
          <div class="catalog-list js-slider">
            <div class="catalog-list__container js-slider__item">
              <div class="catalog-list__item">
                <div class="catalog-list__img"></div>
                <div class="catalog-list__title"></div>
                <div class="catalog-list__basket"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}