{% extends 'html/master.twig' %}
{% set title = 'Франшиза' %}
{% set is_main = true %}

{% block content %}
  <div class="container container--large">
    <div class="page">
      <div class="page__header">
        {% include 'html/lead.twig' %}
      </div>
      <div class="page__aside">
        {% include 'html/static_page_menu.twig' %}
      </div>
      <div class="page__main">
        <div class="text-block">
          <p>Если вы хотите вложить деньги в бизнес или открыть свой, но не знаете с чего начать, посмотрите наше предложение, оно вас заинтересует.</p>
        </div>
        <div class="text-block">
          <span class="list-title">Преимущества инвестиций:</span>
          <ul>
            <li>—  Основные инвестиции идут на закупку товара для торговли с собственного склада;</li>
            <li>—  При узкой специализации наше направление имеет очень широкую гамму потенциальных клиентов из самых разных сфер деятельности;</li>
            <li>—  Товар не портится, имеет небольшие габариты и упакован в штучную упаковку;</li>
            <li>—  Для магазина необходимо небольшое помещение (от 15 кв. м.);</li>
            <li>—  В связи с использованием продукции в технике практически любого назначения ­ товар не сезонный и продается круглый год;</li>
            <li>—  Отсутствуют риски потерь основных инвестиций (владелец бизнеса готов взять купленный у него товар у партнера на реализацию и вернуть вложенные инвестиции на закупку товара при закрытии проекта).</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}