{% extends 'html/master.twig' %}
{% set title = 'Помощь' %}
{% set is_main = true %}

{% block content %}
  {% include 'html/block_title.twig' %}
  <div class="page">
    <div class="page__header">
      {% include 'html/lead.twig' %}
    </div>
    <div class="page__aside">
      {% include 'html/static_page_menu.twig' %}
    </div>
    <div class="page__main">
      <div class="text-block">
        <p>Сайт является собственностью компании <small>«КТС–Дизель»</small>. Все содержимое сайта охраняется действующим законодательством РФ, регулирующим вопросы авторского права. Пользователи сайта обязуются использовать его содержание в личных и некоммерческих целях.</p> 
        <p>Использовать содержание сайта в других целях запрещено. Не допускается внесение изменений в содержание сайта и воспроизведение его содержания.</p>
      </div>
      <div class="text-block">
        <h3>Сбор, хранение и использование персональных данных</h3>
        <p>Компания «КТС–Дизель» получает ваши персональные данные, когда вы указываете их в розничных магазинах, на сайте, отправляете по почте или сообщаете лично сотрудникам компании. В соответствии с Политикой компании «КТС­Дизель» и действующим законодательством РФ о защите персональных данных, вы можете в любое время изменить предоставленные вами данные или попросить об их удалении.</p>
      </div>
      <div class="text-block">
        <strong class="no-marg">Передавая свои персональные данные, вы соглашаетесь с данными условиями:</strong>
        <p>Я соглашаюсь с тем, что ООО «КТС–Дизель» вправе передать мои персональные данные третьим лицам, в частности, магазинам­партнерам, курьерским службам, и контрагентам «КТС–Дизель» исключительно в следующих целях:</p>
        <ul class="no-marg">
          <li>1) выполнения моего заказа, в том числе, в целях доставки товаров;</li>
          <li>2) отправления мне рекламно­информационных и иных сообщений.</li>
        </ul>
      </div>
      <div class="text-block">
        <p>Я согласен(на), что мои персональные данные будут обрабатываться способами, соответствующими целям обработки персональных данных, без возможности принятия решения на основании исключительно автоматизированной обработки моих персональных данных. Согласие дается мной бессрочно. Настоящее согласие может быть отозванной мной в любой момент путем направления соответствующего письменного обращения по адресу 142718, Московская область, Ленинский район, поселок Битца, улица Нагорная, строение 11, оф.1­21.</p>
      </div>
      <div class="text-block">
        <span class="list-title">Оформляя заказ или совершая регистрацию на сайте,<br />вы можете оставить следующие данные:</span>
        <ul>
          <li>—  Фамилия, Имя, Отчество;</li>
          <li>—  Номер телефона и адрес электронной почты;</li>
          <li>—  Логин и пароль;</li>
          <li>—  Почтовый адрес;</li>
          <li>—  Данные компании и руководителя;</li>
          <li>—  Дата рождения и возраст.</li>
        </ul>
      </div>
      <div class="text-block">
        <span class="list-title">Сайт автоматически собирает статистическую информацию, такую как:</span>
        <ul>
          <li>—  IP­адрес и тип устройства пользователя;</li>
          <li>—  Версия и тип браузера;</li>
          <li>—  Дата, время и количество посещений;</li>
          <li>—  Адрес сайта, с которого произошел переход на сайт Техносилы;</li>
          <li>—  Геолакационные данные;</li>
          <li>—  Сведения о посещенных ранее страницах;</li>
          <li>—  Операционная система.</li>
        </ul>
      </div>
      <div class="text-block">
        <span class="list-title">Список дополнительной информации о покупателе, которую получает компания:</span>
        <ul>
          <li>—  Информация о транзакциях между покупателем и компанией, о приобретенных товарах и предоставленных услугах (в том числе о доставке);</li>
          <li>—  Финансовая информация (в том числе совершенные платежи, данные о кредитной карте, адрес для выставления счетов и другие аналогичные финансовые сведения).</li>
        </ul>
      </div>
      <div class="text-block">
        <span class="list-title">Предоставленные вами персональные данные Компания использует в соответствии с<br />
        действующим законодательством РФ, в следующих целях:</span>
        <ul>
          <li>—  Для аутентификации и подтверждения ваших действий;</li>
          <li>—  Для обработки заказов созданных вами на сайте;</li>
          <li>—  Для предоставления вам доступа к специальной информации;</li>
          <li>—  Для повышения качества работы и оказываемых услуг;</li>
          <li>—  Для анализа данных и проведения различных исследований;</li>
          <li>—  Для продвижения товаров и услуг, и подготовки индивидуальных предложений;</li>
          <li>—  Для осуществления информирования вас об специальных предложениях и акциях;</li>
          <li>—  Для осуществления обратной связи с вами.</li>
        </ul>
      </div>
      <div class="text-block">
        <h3>Передача и защита персональных данных</h3>
        <p>Компания «КТС–Дизель» уважительно относится к праву пользователей на конфиденциальность и гарантирует, что полученная от вас информация не будет передана третьим лицам без вашего на это согласия. Исключением являются компании, действующие на основании договора с компанией «КТС–Дизель», в том числе и для исполнения обязательств перед покупателями, а так же случаи предусмотренные действующим законодательством РФ. Компания гарантирует, переданные вами персональные данные, будут храниться и обрабатываться согласно действующему законодательству.</p>
      </div>
    </div>
  </div>
{% endblock %}