{% extends 'html/master.twig' %}
{% set title = 'Каталог комплектующих к топливным системам' %}
{% set is_main = true %}

{% block content %}
  {% include 'html/block_title.twig' %}
  <div class="page">
    <div class="page__aside">
      {% include 'html/catalog_menu.twig' %}
    </div>
    <div class="page__main">
      {% include 'html/catalog_filter.twig' %}
    </div>
  </div>
{% endblock %}