{% extends 'html/master.twig' %}
{% set title = 'Каталог комплектующих к топливным системам' %}
{% set is_main = true %}

{% block content %}
  <div class="container container--large">
    <div class="page">
      <div class="page__header">
        {% include 'html/lead.twig' %}
      </div>
      <div class="page__aside">
        {% include 'html/catalog_menu.twig' %}
      </div>
      <div class="page__main">
        {% include 'html/products_filter.twig' %}
        <div class="page__line"></div>
        {% include 'html/products_list.twig' %}
      </div>
    </div>
  </div>
  <div class="bar bar--color">
    <div class="container">
      {% include 'html/promo.twig' %}
    </div>
  </div>
  <div class="bar">
    <div class="container">
      {% include 'html/faq.twig' %}
    </div>
  </div>
{% endblock %}